# Build output
dist/
build/
*.spec

# OS files
.DS_Store
Thumbs.db
*.log

# Python
__pycache__/
*.py[cod]
*.pyc
venv/
.venv/

# IDE
.vscode/
.idea/

# Output folders created by the app
watermarked/
*_watermark/
